* {
    margin: 0;
    box-sizing: border-box;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}


/*===================================INDEX===============================*/


/* BANNER */

.Banner {
    float: left;
    width: 100%;
}

.Banner img {
    width: 100%;
    height: 150px;
    vertical-align: middle;
}


/* MENU */

.Nav {
    position: absolute;
    float: left;
    width: 100%;
    background: #000000;
    opacity: 100%;
    top: 110px;
}

.Nav li {
    float: left;
    width: 25%;
    text-align: center;
    list-style: none;
}

.Nav a {
    display: block;
    width: 100%;
    padding: 10px 0;
    color: #fff;
    text-decoration: none;
    font-size: 20px;
}

.Nav a:hover {
    background: rgb(46, 91, 224);
}


/*====================================================================================*/


/*===================================CADASTRAR===============================*/

.divCadastar {
    position: relative;
    top: 150px;
    left: -50px;
}

.aFuncao {
    position: relative;
    left: 32%;
    top: -30px;
}

.Funcao {
    position: relative;
    left: 26%;
    height: 35px;
    background-color: rgb(233, 233, 233);
}

.aSalario {
    position: relative;
    left: 43%;
    top: -30px;
}

.Salario {
    position: relative;
    left: 38%;
    height: 35px;
    background-color: rgb(233, 233, 233);
}

.Cad {
    position: relative;
    display: block;
    text-transform: uppercase;
    text-decoration: none;
    font-weight: bold;
    top: 200px;
    left: 44%;
    height: 40px;
    width: 150px;
    border-radius: 5%;
    cursor: pointer;
    background-color: cornflowerblue;
}


/*===========================================================================*/


/*===================================BUSCAR===============================*/

.LBLFuncao {
    position: relative;
    left: 465px;
    top: 80px;
}

.TXTFuncao {
    position: relative;
    left: 400px;
    top: 110px;
    height: 35px;
    background-color: rgb(233, 233, 233);
}

.ButtonProcurar {
    position: relative;
    top: 130px;
    left: 487px;
    height: 35px;
    width: 140px;
    display: block;
    text-transform: uppercase;
    text-decoration: none;
    font-weight: bold;
    border-radius: 5%;
    cursor: pointer;
    background-color: cornflowerblue;
}

.DivPHP {
    position: relative;
    top: 200px;
}


/*===========================================================================*/

.DivDados {
    position: fixed;
    margin-left: 15px;
    top: 25%;
}

.ButtonApagarInativar {
    position: relative;
    height: 35px;
    top: 65px;
    left: 15px;
    width: 140px;
    display: block;
    text-transform: uppercase;
    text-decoration: none;
    font-weight: bold;
    border-radius: 5%;
    cursor: pointer;
    background-color: cornflowerblue;
}

.DivDadosAlterar {
    position: fixed;
    margin-left: 35%;
    top: 35%;
}

.AltFuncao {
    height: 35px;
    background-color: rgb(233, 233, 233);
}

.AltNumero {
    height: 35px;
    background-color: rgb(233, 233, 233);
}

.ButtonAlterar {
    position: relative;
    height: 35px;
    top: 15px;
    left: 105px;
    width: 140px;
    display: block;
    text-transform: uppercase;
    text-decoration: none;
    font-weight: bold;
    border-radius: 5%;
    cursor: pointer;
    background-color: cornflowerblue;
}